{% extends 'stuffsharing/base.html' %}

{% block title %}My Account{% endblock title %}

{% block content %}
{% load static %}


{% if user.is_authenticated %}

<div style="margin-left: 15%; margin-right: 15%;">
    <div class="card">
        <h3>My Account</h3><br>
        <ul>
           <li><p> Username: {{user.username}} </p></li>
           <li><p> Name: {{user.profile.Name}} </p></li>

           <li><p> Phone Number:  {{user.profile.phone}} </p></li>
           <li><p> Address: {{user.profile.adress}} </p></li>
        </ul>
    </div>
</div>

{% else %}
<div>
    <a href="{% url 'login'%}?next={{request.path}}" class="w3-bar-item w3-button w3-red">Login fist</a> 
</div>
{% endif %} 



{% endblock content %}